html, body {
    margin: 0px;
    padding: 0px;
    background-color: #333;
}
#canvas {
    border-radius: 15px;
    position: fixed;

    left: 50vw;
    top: 50vh;
    margin-left: -350px;
    margin-top: -350px;

    padding: 0;
    background-color: #FFF;
    cursor: default;
    z-index: 0;
}